  <div  class="image-preview-modal justify-content-center align-items-center flex-column"
       [ngClass]="{ 'open': isOpen }">
    <div class="modal-content">
      <img #myIdentifier1 src="{{imageUrl}}" alt="">

      <app-frame *ngFor="let frame of frames; let i = index"
                 [position]="frame.position"
                 [size]="frame.size"
                 [typeClass]="frame.typeClass"
                 (deleteFrame)="deleteFrame(i)">
      </app-frame>

    </div>
  </div>

