

.image-preview-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  width: 100vw;
  height: 100%;
  overflow: auto;
}

.image-preview-modal.open {
  display: block;
}

.modal-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal-content > div:nth-child(1) {
  display: inline-block;
}

.modal-content > div:nth-child(2) {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}



@media all and (max-width: 1024px) {
  .modal-content {
    width: 600px;
    height: 500px;
  }
}

@media all and (max-width: 768px) {
  .modal-content {
    width: 350px;
    height: 400px;
  }
}
.image-preview-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 100px;
  left: 200px;
  width: 80%;
  height: 100%;
  overflow: auto;
}

.image-preview-modal.open {
  display: block;
}

.modal-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal-content > div:nth-child(1) {
  display: inline-block;
}

.modal-content > div:nth-child(2) {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

@media all and (max-width: 1024px) {
  .modal-content {
    width: 600px;
    height: 500px;
  }
}

@media all and (max-width: 768px) {
  .modal-content {
    width: 350px;
    height: 400px;
  }
}
