

.super-parent *{
  font-family: "Open Sans", sans-serif;
}

#invalid_warning, #incorrect-extension-warning {
  font-weight: bold;
  color: red;
  font-size: 1.1rem;
  margin-top: 10px;
}

.top-bar{
  background-color: rgb(51, 51, 51);

}
.top-bar span{
  color: #ffffff;

}


.outer-body {
  --blue: #0071FF;
  --light-blue: #B6DBF6;
  --dark-blue: #005DD1;
  --grey: #f2f2f2;
  padding: 20px;
  min-height: 100vh;
}

.outer-body > h1{
  font-weight: bold;
}

.container {
  width: 100%;
  height: auto;
  background: #fff;
  padding: 20px;
  border: 5px dotted lightgrey !important;
  border-radius: 10px;

}

.img-area {
  position: relative;
  width: 100%;
  height: auto;
  background: var(--grey);
  margin-bottom: 30px;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.img-area .icon {
  font-size: 100px;
}

.img-area h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 6px;
  color: #333333;
}

.img-area p {
  color: #999;
}

.img-area p span {
  font-weight: 600;
}

.img-area img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 100;
}

.img-area::before {
  content: attr(data-img);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  color: #fff;
  font-weight: 500;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  transition: all .3s ease;
  z-index: 200;
}

.img-area.active:hover::before {
  opacity: 1;
}

.select-image:hover {
  background: var(--dark-blue);
}

.main {
  display: flex;
  height: 100%;

}

.boundary-boxes {
  position: relative;
  width: auto;
  height: auto;
  z-index: 500;
}

.right-section {
  border-left: 1px solid lightgray;
  height: auto;
}

.No-Person, .No-Vehicle {
  background-color: rgba(144, 238, 144, 0.35);
  text-align: center;
}

.Person, .Vehicle {
  background-color: rgba(255, 192, 203, 0.35);
  text-align: center;
}


#loading{
  position: absolute;
  min-height: 200px;
  width:100%;
  transform: translateY(-50%);
  z-index: 100;
}
.loader {
  position: relative;
  width: 100px;
  height: 50px;
  background-repeat: no-repeat;
  background-image: linear-gradient(#f7d036 50px, transparent 0),
  linear-gradient(#f7d036 50px, transparent 0),
  linear-gradient(#f7d036 50px, transparent 0),
  linear-gradient(#f7d036 50px, transparent 0),
  linear-gradient(#f7d036 50px, transparent 0),
  linear-gradient(#f7d036 50px, transparent 0);
  background-position: 0px center, 15px center, 30px center, 45px center, 60px center, 75px center, 90px center;
  animation: rikSpikeRoll 0.65s linear infinite alternate;
}
@keyframes rikSpikeRoll {
  0% { background-size: 10px 3px;}
  16% { background-size: 10px 50px, 10px 3px, 10px 3px, 10px 3px, 10px 3px, 10px 3px}
  33% { background-size: 10px 30px, 10px 50px, 10px 3px, 10px 3px, 10px 3px, 10px 3px}
  50% { background-size: 10px 10px, 10px 30px, 10px 50px, 10px 3px, 10px 3px, 10px 3px}
  66% { background-size: 10px 3px, 10px 10px, 10px 30px, 10px 50px, 10px 3px, 10px 3px}
  83% { background-size: 10px 3px, 10px 3px,  10px 10px, 10px 30px, 10px 50px, 10px 3px}
  100% { background-size: 10px 3px, 10px 3px, 10px 3px,  10px 10px, 10px 30px, 10px 50px}
}


.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #f7d036 !important;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#loading{
  position: absolute;
  min-height: 200px;
  width:100%;
  top:40vh;
  z-index: 100;
}

.no-result {
  font-family: 'Open Sans', 'sans-serif';
  position: absolute;
  left: 50%;
  top: 100%;
  margin-top: 250px;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: black;
}

.no-result > span:nth-child(1) {
  vertical-align: middle;
  font-size: 45px;
}

.clear{
  background-color: #f7d036;
  padding: 0 20px;
}
.clear:hover{
  background-color: rgb(248, 200, 2);
}

.back{
  display: block;
  margin: 20px auto auto auto;
  width: 150px;
  background-color: #f7d036;
}
.back:hover{
  background-color: rgb(248, 200, 2);

}

