<div class="super-parent">
  <mat-toolbar class="top-bar">
    <span><i class='bx bx-code-block icon p-2'></i> WebChallenge</span>
    <span class="example-spacer"></span>
  </mat-toolbar>


  <div class="main">

    <section *ngIf=" home" class="col-12 col-lg-12">
      <div class="outer-body">
        <h1 class="p-3 text-center">Upload your image </h1>
        <div class="container">
          <div class="img-area" data-img="" #dragger (dragover)="dragOver($event)" (dragleave)="dragLeave()"
               (drop)="drop($event)">
            <i class='bx bxs-cloud-upload icon p-2'></i>
            <h3 class="p-2" #dragger_text>Drag & drop your image here</h3>
            <p class="p-2">Only JPG and PNG files<span></span></p>
            <button class="select-image btn btn-primary p-2" (click)="file_selector_input.click()">Browse Image</button>
          </div>
          <input #file_selector_input type="file" accept="image/*" id="file-selector-input"
                 (change)="fileSelectorChange($event)" hidden>
          <div *ngIf="!validType" #invalid_warning id="invalid_warning" class="text-center">
            Please select an image with a type of JPG or PNG
          </div>
        </div>
      </div>

    </section>


    <section *ngIf="!home" class="col-12 col-lg-5">
      <div class="outer-body">
        <h1 class="p-3 text-center">Upload your image </h1>
        <div class="container">
          <div class="img-area" data-img="" #dragger (dragover)="dragOver($event)" (dragleave)="dragLeave()"
               (drop)="drop($event)">
            <i class='bx bxs-cloud-upload icon'></i>
            <h3 #dragger_text>Drag & Drop your Image here</h3>
            <p>Only JPG and PNG files<span></span></p>
            <button class="select-image btn btn-primary" (click)="file_selector_input.click()">Browse Image</button>
          </div>
          <input #file_selector_input type="file" accept="image/*" id="file-selector-input"
                 (change)="fileSelectorChange($event)" hidden>
          <div *ngIf="!validType" #invalid_warning id="invalid_warning" class="text-center">
            Please select an image with a type of JPG or PNG
          </div>
        </div>
        <button class="select-image btn back " (click)="homePage()">Back</button>
      </div>

    </section>


    <section *ngIf="!home" class="col-12 col-lg-7 right-section">
      <div class="detail p-5 w-100 h-100">
        <div>
          <div class="float-end">
            <button (click)="removeSelectedImage()" class="btn clear  p-2"> Clear</button>
          </div>
          <div>
            <h3 class="p-1"><b>ID :</b>  <span *ngIf="isImageAvailable">{{id}}</span> </h3>
            <h3 class="p-1"><b>Created at :</b> <span *ngIf="isImageAvailable">{{createdAt}}</span> </h3>
            <h3 class="p-1 "><b>Result :</b>
              <p class="p-1" *ngIf="person.trim() !=='' && isImageAvailable" [ngClass]="person">{{person}} <i class='bx bx-male icon p-2'></i>
              </p>
              <p class="p-1" *ngIf="vehicle.trim() !=='' && isImageAvailable" [ngClass]="vehicle">{{vehicle}} <i class='bx bxs-car icon p-2'></i>    </p></h3>
          </div>
          <div (window:resize)="onResize($event)" class="boundary-boxes">
            <img [style.opacity]="show ? '0.5' : '1'" *ngIf="isImageAvailable" #myIdentifier src="{{imageURL}}"
                 class="w-100 h-100 object-fit-contain image"/>

            <ng-template [ngIf]="show">
              <div id="loading" class="d-flex justify-content-center align-items-center">
                <span class="loader"></span>
              </div>
            </ng-template>

            <ng-template [ngIf]="!isImageAvailable">
              <div class="no-result ">
                <i class='bx bx bx-confused icon p-2'></i>
                <span>Sorry, we couldn't find any image</span>
                <hr class="m-5">
              </div>
            </ng-template>

            <div *ngIf="isImageAvailable">
              <app-frame *ngFor="let frame of frames; let i = index"
                         [position]="frame.position"
                         [size]="frame.size"
                         [typeClass]="frame.typeClass"
                         (deleteFrame)="deleteFrame(i)">
              </app-frame>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>

  <app-preview #previewComponent [imageUrl]="imageURL" [isOpen]="isOpen"></app-preview>
</div>


