<div #wrapper (dblclick)="onFocus()"
     class="frame-wrapper"
     [style.top.px]="position.y"
     [style.left.px]="position.x">

  <div #topBar></div>

  <div class="content-wrapper"
       [style.width.px]="size.w"
       [style.height.px]="size.h">

    <div class="top-bar-wrapper"
         (mousedown)="startDrag($event)"></div>

  </div>

  <div class="resizers"
       [style.width.px]="size.w"
       [style.height.px]="size.h">
    <div (mousedown)="startResize($event, ['right'], 'x')" [ngClass]="getResizerClass()" class=" right"></div>
    <div (mousedown)="startResize($event, ['left'], 'x')" [ngClass]="getResizerClass()" class=" left"></div>
    <div (mousedown)="startResize($event, ['bottom'],'y')" [ngClass]="getResizerClass()" class=" bottom"></div>
    <div (mousedown)="startResize($event, ['top'], 'y')" [ngClass]="getResizerClass()" class=" top"></div>
    <div (mousedown)="startResize($event, ['top','right'], 'xy')" [ngClass]="getResizerClass()" class=" top-right"></div>
    <div (mousedown)="startResize($event, ['top','left'], 'xy')" [ngClass]="getResizerClass()" class=" top-left"></div>
    <div (mousedown)="startResize($event, ['bottom','left'], 'xy')" [ngClass]="getResizerClass()" class=" bottom-left"></div>
    <div #resizeCorner (mousedown)="startResize($event, ['bottom','right'], 'xy')" [ngClass]="getResizerClass()" class=" bottom-right"></div>

  </div>
</div>


