.frame-wrapper {
  position: absolute;
  z-index: 2500;
}

.content-wrapper {
  position: absolute;
  overflow: auto;
}

.top-bar-wrapper {
  width: 100%;
  height: 100%;
  background-color: transparent;
}


.resizers {
  box-sizing: border-box;


  .resizerH {
    width: 3px;
    height: 3px;
    border-radius: 1px;
    background: red;
    border: 1px solid red;
    position: absolute;
  }
  .resizerH.top-left:after {
    content: "";
    position:absolute;
    margin:-7px;
    width:15px;
    height:15px;
    background-image: url("/assets/man.png");
    background-size: contain;
    border-radius: 100%;
    background-color:red; /* to see where it is */
  }

  .resizerV {
    width: 3px;
    height: 3px;
    border-radius: 1px;
    background: blue;
    border: 1px solid blue;
    position: absolute;
  }

  .resizerV.top-left:after {
    content: "";
    position:absolute;
    margin:-7px;
    width:15px;
    height:15px;
    background-image: url("/assets/car.png");
    background-size: contain;
    border-radius: 100%;
    background-color:blue; /* to see where it is */
  }

  .right {
    top: 0;
    right: -3px;
    height: 100%;
    cursor: ew-resize;
  }

  .bottom {
    bottom: -3px;
    left: 0;
    width: 100%;
    cursor: ns-resize;
  }

  .top {
    top: -3px;
    left: 0;
    width: 100%;
    cursor: ns-resize;
  }

  .left {
    top: 0;
    left: -3px;
    height: 100%;
    cursor: ew-resize;
  }

  .bottom-right {
    right: -3px;
    bottom: -3px;
    cursor: nwse-resize;
  }

  .top-right {
    right: -3px;
    top: -3px;
    cursor: nesw-resize;
  }

  .top-left {
    left: -3px;
    top: -3px;
    cursor: nwse-resize;
  }

  .bottom-left {
    left: -3px;
    bottom: -3px;
    cursor: nesw-resize;
  }
}
