/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/bootstrap";


html, body { height: 100%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans','Ubuntu', sans-serif;
}
